
h1, h2, #buttons{
    text-align: center;
    font-family: myFirstFont;
}

input[type=submit]{
    background-color: rgb(1, 34, 14);
    border: none;
    color: white;
    padding: 60px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
